build/*
build2/*
buildsalome/*
spectra-master2/*
spectra-master_alt/*
documentation/*
*.kdev4
/.cproject
/.project
*.log
*.idx
cmake-build-*
/preprocessDefine.h
/out/
/.vs/
*.pvd
*.vtu
*.vtm
/temp/
Tests/python/3D/brick/firstvolume
Tests/python/2D/quadrilateral/firsttest
Tests/python/2D/triangle/Ergebnisse_Cooktest.txt
Tests/python/firstvolume
Tests/python/3D/brick/t11
untitled.msh
untitled.geo.opt
untitled.geo
stage/
datatypes.h
*.pvd
*.vtu
*.vtm
stage/*
*.pyc
datatypes.h
*.sol
pyfemenv
*.csv
*.xlsx
*.spdlog